body{
    background: linear-gradient(180deg, #FFFFFF 0%, #725A7A 0.01%, #355C7D 100%);position: relative;
    position: relative;
    width: 1440px;
    height: 1788px;
}

#navigation {
    box-sizing: border-box;

    position: absolute;
    width: 1300px;
    height: 50px;
    left: 48px;
    top: 64px;

    background: rgba(255, 255, 255, 0.6);
    border: 3px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

#ethereum {
    position: absolute;
    width: 649px;
    height: 649px;
    left: 752px;
    top: 140px;

    background: url(ethereum-eth-logo.png);
}

#mainScreen {
    position: absolute;
    width: 203px;
    height: 48px;
    left: 20px;
    top: 0px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height */


    color: #000000;


}

#lessons {
    position: absolute;
    width: 131px;
    height: 48px;
    left: 310px;
    top: 0px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height */


    color: #000000;

}

#aboutUs {
    position: absolute;
    width: 148px;
    height: 48px;
    left: 530px;
    top: 0px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height */


    color: #000000;

}

#ethereumText {
    position: absolute;
    width: 617px;
    height: 155px;
    left: 107px;
    top: 180px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 128px;
    line-height: 155px;
    /* identical to box height */


    color: #FFFFFF;

}

#lessonsText {
    position: absolute;
    width: 532px;
    height: 155px;
    left: 107px;
    top: 280px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 128px;
    line-height: 155px;
    /* identical to box height */


    color: #F57DBA;
}

#altText {
    position: absolute;
    width: 640px;
    height: 78px;
    left: 113px;
    top: 480px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;

    color: #FFFFFF;
}

button {
    box-sizing: border-box;

    position: absolute;
    width: 223px;
    height: 51px;
    left: 107px;
    top: 620px;

    background: #5E4DAB;
    border: 4px solid #000000;
    border-radius: 30px;
    }

#left{
    position: absolute;
    width: 434px;
    height: 537px;
    left: 192px;
    top: 1018px;

    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 30px;
}

#right {
    position: absolute;
    width: 434px;
    height: 537px;
    left: 795px;
    top: 1018px;

    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 30px;
}

#discord {
    position: absolute;
    width: 258px;
    height: 258px;
    left: 88px;
    top: 64px;
    
    background: url(discord.png);
}

#website {
    position: absolute;
    width: 258px;
    height: 258px;
    left: 88px;
    top: 64px;
    
    background: url(world-wide-web.png);
}

#leftText {
    position: absolute;
    width: 264px;
    height: 39px;
    left: 85px;
    top: 346px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */


    color: #000000;
}

#rightText {
    position: absolute;
    width: 282px;
    height: 39px;
    left: 76px;
    top: 346px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */


    color: #000000;
}

#leftAltText {
    position: absolute;
    width: 365px;
    height: 72px;
    left: 34px;
    top: 400px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;

    color: #000000;
}

#rightAltText {
    position: absolute;
    width: 365px;
    height: 108px;
    left: 34px;
    top: 400px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;

    color: #000000;

}